@using TrueDogStore.ViewModels
@model ForgotPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; text-align: center; padding: 20px;">

    <div style="background-color: #fff; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 20px; display: inline-block; text-align: left;">

        <h2>Password Reset</h2>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" style="color: red;"></div>

            <div style="margin-bottom: 20px;">
                <label asp-for="Email" style="font-weight: bold;">Email:</label>
                <input asp-for="Email" class="form-control" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 3px;" />
                <span asp-validation-for="Email" style="color: red;"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">Send Password Reset Link</button>
        </form>

    </div>
</body>
</html>



