<style>
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/images/homepage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div style="text-align: center;">
        <h1 style="font-size: 36px; color: white;">Dogs Need Us as Much as We Need Them</h1>
    </div>

    <div style="text-align: center; margin-top: 20px;color:white">
        <p style="font-size: 18px;">
            Join us on our mission to provide loving homes for these devoted companions. Together, we can make a world of difference in their lives, offering them a chance to find their forever families and bask in the joy of unconditional love. Your involvement ensures they enjoy the life they so richly deserve.
        </p>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="@Url.Action("Index", "Pet")" class="btn btn-primary">Let's Get Started</a>
    </div>
    </div>
</body>
</html>